#usuarioMaster_principal
{
    float:left;
}

/*Menu*/
#usuarioMaster_principal #usuarioMaster_menu
{
        
    /*border-style:ridge;*/
    float:left;
    padding: 0px;
}

#usuarioMaster_principal #usuarioMaster_menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

#usuarioMaster_principal #usuarioMaster_menu ul li a
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 10px;
    text-decoration: none;
}

#usuarioMaster_principal #usuarioMaster_menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}


/*Cabecalho*/
#usuarioMaster_principal #ucMiniCabecalho_principal 
{
    text-align:center;
}


/*Conteudo*/
#usuarioMaster_principal #usuarioMaster_conteudo
{
    padding:15px 15px 15px 15px;
    float:left;
    border: 1px #4e667d solid;
    width:750px;
    height:600px;
    overflow:hidden;
}

